/* styles.css */

h1 {
	font-size: 5em;
	color: hotpink;
} 

p {
	font-size: 1em;
	color: #82448D;
}

.backgroundImage {
	background-image: url(../img/twist.jpg);
	width: 576px;
	
}

.backgroundImage:hover {
	background-image: url(../img/mnight.jpg);
	cursor: crosshair;
}
